div#memory_board{
	background:"transperant";
	border:#999 1px transperant;
	width:700px;
	height:540px;
	padding:24px;
	margin:0px auto;
}
div#memory_board > div{


	/*background-color:#FF4500;*/
	background: url("que.png") no-repeat ;
	background-size: cover;
	border:#000 1px solid;
	width:45px;
	height:45px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}
body{
  /*background-image: url("game1.jpg");*/
	background: url("back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
h1{
text-align:center;

}
